services:
  - type: web
    name: spring-backend
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: dev
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
